/* .homepage__title {
    margin-top: 16px;
    padding-top: 34px;
    padding-bottom: 34px;
} */

/* 
.homepage--padding {
    padding-left: 16px;
    padding-right : 16px;
}


@media only screen and (min-width: 768px) {
    .homepage--padding {
        padding-left: 80px;
        padding-right : 80px
    }
} */