/* .topbar {
    height: 50px;
    border-bottom: 1px solid var(--app-700);
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    box-shadow: var(--bar-boxShadow);
    justify-content: space-between;
} */

/* .topbar__rightLayout {
    display: flex;
} */

/* .topbar__iconButton {
    margin-left: 16px !important;
} */