/* .horizontalSlider__item {
    height: 245px !important;
    width: 180px;
    border-radius: 8px;
    display: flex;
    width: 100%;
    overflow-y: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.527);
    transition: all ease 500ms;
}

.horizontalSlider__item:hover {
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.527);
    transform: translateY(-10px);
} */

/* .ImageHoverInfo__container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    transition: all ease 300ms;
    /* width: 180px !important;
    position: relative;
}*/

/* .ImageHoverInfo {
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.527);
    transition: all ease 300ms;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
} */

/* .ImageHoverInfo__container:hover::before {
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.527);
    opacity: 1;
} */

/* .ImageHoverInfo__container:hover .ImageHoverInfo__info {
    opacity: 1;
    transform: translateY(0px);
    /* width: 100%;
    height: 100%; 
}
*/
/* .ImageHoverInfo__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(10, 10, 10, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
} */

/* .ImageHoverInfo__info {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(300px);
    transition: 0.5s ease;
} */