/* .carouselIndicator__buttonBase {
    width: 24px !important;
    border-radius: 100% !important;
} */
/* 
.carouselIndicator__indicator--inactive {
    transition: color 0.3s ease-in-out !important;
    width: 20px !important;
    color: var(--app-600);
}

.carouselIndicator__indicator--active {
    transition: color 0.3s ease-in-out !important;
    width: 20px !important;
    color: var(--app-300);
} */
/* 
.carouselIndicator__loading {
    width: 24px !important;
    height: 24px !important;
} */

/* .carousel__indicator {
    margin-top: 24px;
    text-align: center;
} */

/* .carousel__indicator__arrow {
    margin-left: 16px !important;
    margin-right: 16px !important;
} */