/* This file allows to change the styles of the third party components */

.carousel__dot--selected {
  background-color: yellow;
}

.carousel__slider--horizontal {
  border-radius: 40px;
}

.carousel .slide {
  background: none !important;
}

.slider-wrapper.axis-horizontal {
  /* NEW */
    padding: 54px 50px;

    overflow: hidden !important;
  max-width: 1200px;
  /* width: 75% !important; */
  width: 100% !important;
}

.carousel li.slide.selected {
  z-index: 10 !important;
}

.carousel-video-player {
  position: static !important;
    border-radius: 45px;
}

.carousel-video-player div {
  position: absolute;
    /*width: 632px !important;*/
    height: 357px !important;
}

.carousel .slide iframe {
  margin: 0 !important;
  width: 100% !important;
  border-radius: 16px !important;
}

.card-slider-video {
  display: flex !important;
    height: 100% !important;
    width: 100% !important;
}

.MuiTab-labelIcon .MuiTab-wrapper > *:first-child {
    margin-bottom: 0px !important;
    margin-right: 24px;
}
.MuiTooltip-tooltip.MuiTooltip-tooltipPlacementRight {
    font-size: 0.8rem;
}

.MuiTab-textColorInherit.Mui-selected {
    color: var(--primary-color-simple);
}


/*.sideNav-tab svg {*/
/*    margin-left: 0px;*/
/*    transition: 0.3s;*/
/*}*/

/*.sideNav-tab.icon svg {*/
/*    margin-left: 11px;*/
/*}*/