/* This file allows to change the styles of the third party components */

.carousel__dot--selected {
    background-color: yellow;
}

.carousel__slider--horizontal {
    border-radius: 40px;
}

.carousel .slide {
    background: none !important;
}

.main-carousel .slider-wrapper.axis-horizontal {
    /* NEW */
    padding: 24px 16px;

    overflow: hidden !important;
    max-width: 1200px;
    /* width: 75% !important; */
    width: 100% !important;


}

.carousel li.slide.selected {
    z-index: 10 !important;
}

.carousel-video-player {
    position: static !important;
    border-radius: 45px;
}

.carousel-video-player div {
    object-fit: cover;
    position: absolute;
    /*width: 632px !important;*/
    height: 483px !important;
}

.carousel .slide iframe {
    margin: 0 !important;
    width: 100% !important;
    border-radius: 16px !important;
}

.carousel-highlight .slide iframe {
    border-radius: 0 !important;
}

.card-slider-video {
    display: flex !important;
    height: 100% !important;
    width: 100% !important;
}

.MuiTab-labelIcon .MuiTab-wrapper > *:first-child {
    margin-bottom: 0 !important;
    margin-right: 24px;
}
.MuiTooltip-tooltip.MuiTooltip-tooltipPlacementRight {
    font-size: 0.8rem;
}

.MuiTab-textColorInherit.Mui-selected {
    color: var(--primary-color-simple);
}

/* .MuiCheckbox-colorPrimary.Mui-checked {
    color: var(--primary-color-simple) !important;
} */

@media only screen and (min-width: 768px) {

    /* For desktop */
    .main-carousel .slider-wrapper.axis-horizontal {
        padding: 55px 50px;
    }

    .main-carousel .carousel-video-player div {
        height: 357px !important;
    }
}


/* Game highlight */



.carousel-highlight .carousel .thumbs-wrapper {
    margin: 8px 0 0 0;
}

/* .carousel-highlight .thumbs-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.carousel-highlight .thumbs-wrapper::-webkit-scrollbar:horizontal {
    height: 11px;
}

.carousel-highlight .thumbs-wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.carousel-highlight.ocean  .thumbs-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--ocean-primary);
}

 .carousel-highlight.ocean .thumbs-wrapper::-webkit-scrollbar-thumb {
    border: 2px solid --ocean-primary; 
    background-color: --ocean-background;
}

.carousel-highlight.ocean .thumbs-wrapper::-webkit-scrollbar-thumb {
    border: 2px solid --ocean-primary;
    background-color: --ocean-background;
}
.carousel-highlight .thumbs-wrapper::-webkit-scrollbar-corner {
    background: rgba(255, 255, 255, 0);
    display: none;
} 

.carousel-highlight .thumbs-wrapper::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
} */


.carousel-highlight .thumbs {
    padding-left: 0;
    /* transform: none  !important; */
}


.carousel-highlight .carousel .thumb {
    height: 68px;
    border: 2px solid transparent;
    border-radius: 4px;
}

.carousel-highlight .carousel .thumb:hover {
    border: 2px solid #333;
    border-radius: 4px;
}

.carousel-highlight.ocean .carousel .thumb.selected {
    border: 2px solid #FFF;
}

.highlight-video div {
    margin: 0 auto;
}

/* .carousel-highlight .carousel .control-arrow {
    display: none;
} */

/* .carousel-highlight::-webkit-scrollbar {
    width: 7px;
  }
    .carousel-highlight::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:  0 0 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
 */
