* {
  margin: 0
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?xi6rna');
    src:  url('fonts/icomoon.eot?xi6rna#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?xi6rna') format('truetype'),
      url('fonts/icomoon.woff?xi6rna') format('woff'),
      url('fonts/icomoon.svg?xi6rna#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-compass:before {
    content: "\e903";
  }
  .icon-paint:before {
    content: "\e90c";
  }
  .icon-search:before {
    content: "\e906";
  }
  .icon-thumbs-up:before {
    content: "\e905";
  }
  .icon-search-plus:before {
    content: "\e904";
  }
  .icon-double-arrow:before {
    content: "\e900";
  }
  .icon-arrow-right:before {
    content: "\e901";
  }
  .icon-arrow-left:before {
    content: "\e902";
  }
  
  @font-face {
    font-family: 'neon';
    src: url('fonts/neon/neon-webfont.woff2') format('woff2'),
         url('fonts/neon/neon-webfont.woff') format('woff'),
         url('fonts/neon/neon.ttf') format('truetype');
    }