.slider-wrapper.axis-horizontal {
    width: 75% !important;
}

.carousel__item {
    cursor: pointer;
    margin-left: -100px !important;
    margin-right: -100px !important;
    border-radius: 45px;
    /* display: flex; */
    /* transition: all 2s ease; */
}

.carousel__indicator {
    margin-top: 16px;
    text-align: center;
}